.home_nav_left > img {
  width: 140px;
}

.home_body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_hero > h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #01efdf 0%,
    #5d98ec 31.56%,
    #9d5af9 66.46%,
    #da21ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  animation: float 6s ease-in-out infinite;
}

.home_hero > p {
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.home_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

button {
  border: none;
  padding: 0.81em;
  border-radius: 8px;
}

#get_started,
#join_discord {
  margin: 0.5em;
}

#get_started {
  background-color: rgb(157, 90, 249);
}

#join_discord {
  background-color: rgb(218, 33, 255);
}

Link,
a {
  text-decoration: none;
  color: #fff;
}

Link:hover,
a:hover {
  color: white;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Media Queries */

/* Max-width for Mobile screens >= 480px */
@media screen and (max-width: 480px) {
  .home_hero > h1 {
    font-size: 24px;
  }

  .home_hero > p {
    font-size: 18px;
  }

  .home_btn {
    display: flex;
    flex-direction: column;
  }
}

/* Max width for PC Screens */
@media screen and (max-width: 780px) {
  .home_hero > h1 {
    font-size: 50px;
  }
}
