.resources_body {
  width: 850px;
  color: #fff;
  font-size: 14px;
}

.resources_body  a {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .resources_body {
    width: 350px;
  }
}
